/* Resetting default styles */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Poppins-Regular';
  src: url('../assets/fonts/Poppins-Regular.ttf');
}

body,
html {
  height: 100%;
  overflow-y: auto;
  font-family: "Poppins-Regular", sans-serif;
}



section {
  height: 100vh;
}

/* Header Styles */
header {
  display: grid;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px;
  padding-right: 40px;
  z-index: 1000;
  height: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  align-items: center;
}


/* Products Section */
#terrabox {
    background: url("../images/background-terrabox.png") no-repeat center center
    fixed;
    width: 100%;
    background-size: cover;
    display: grid;
    grid-template-columns: 40px repeat(3, 1fr);
    grid-template-rows: 90px 60% auto;
    row-gap: 15px;

    padding: 0;
}

/* Common Styles */
h1,
h2,
h3 {
  color: #fff;
}

h1 {
  font-size: 64px;
}

h2 {
  font-size: 48px;
}


.fullscreen {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 70px;
  height: 100vh;
  box-sizing: border-box;
}


.content-section {
  width: 100%;
  grid-column: 2/4 ;
  grid-row : 2;
  align-self: start;
  height: 100%;
  text-align: left;
}

.content-section h3{
    font-size: 35px;
}

.product-image {
    grid-column: 3 /5;
    grid-row: 2/4;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    overflow: hidden;
    height: 100%;
}

.product-image img {
    max-width: 100%; /* Limita el ancho de la imagen al ancho del contenedor */
    max-height: 100%; /* Limita la altura de la imagen a la altura del contenedor */
    object-fit: contain; /* Asegura que la imagen se ajuste dentro del contenedor sin perder las proporciones */
}

.logo-product{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.logo-product img{
    width: 70%;
}

.accent-color-terrabox{
    color: #2be082;
}