/* Resetting default styles */
* {
  margin: 0;
  padding: 0;
}

body, html {
  height: 100%;
  scroll-snap-type: y mandatory;
  overflow-y: auto;
  font-family: 'Poppins', sans-serif;
}

section {
  height: 100vh;
  scroll-snap-align: start;
}

/* Header Styles */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px;
  z-index: 1000;
  height: 60px;
}

#logo-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

nav {
  display: flex;
  justify-content: flex-end;
  width: auto;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  list-style: none;
  padding: 0;
}

nav ul li {
  padding: 0 40px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  padding: 10px;
  position: relative;
}

nav a::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  right: 0;
  height: 2px;
  background: #fff;
  opacity: 0;
  transition: opacity 0.3s ease;
}

nav a:hover::after, nav a.active::after {
  opacity: 1;
}

/* Home Section */
#home {
  background: url("../images/background-home.jpg") no-repeat center center fixed;
  background-size: cover;
}

/* Products Section */
#products {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  width: 100%;
  background-color: black;
  overflow: hidden;
  position: relative;
}

.product-image-container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.product-image-container img {
  max-width: 100%;
  height: auto;
}

.product-info-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 70%;
  padding-top: 80px;
  padding-left: 80px;
}

/* Contact Section */
#contact {
  background-image: linear-gradient(#0C0A53 0%, #2D5BB9 40%, #3873BF 54%, #4A95C7 72%, #58B2BA 100%);
}

.container {
  display: grid;
  grid-template-columns: 2fr 3fr;
  margin: 20px;
  height: 85%;
  width: 90%;
}

.contact-info {
  background-color: #05156C;
  border-radius: 35px 0 0 35px;
  color: white;
  padding: 3rem;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px;
  align-items: start;
}

.contact-info div {
  text-align: left;
}

.contact-info h2, .contact-info p {
  grid-column: span 2;
  text-align: left;
}

.contact-form {
  background-color: #fff;
  padding: 3rem;
  border-radius: 0 35px 35px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 50px;
}

.contact-form h2 {
  color: #05156C;
}

.contact-form input, .contact-form textarea {
  color: rgba(0, 0, 0, 0.8);
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  outline: none;
}

.contact-form input, .contact-form textarea, .contact-form button, .contact-form h2 {
  grid-column: span 2;
}

#email, #full-name {
  grid-column: span 1;
}

.contact-form input:focus, .contact-form textarea:focus {
  border-bottom: 1px solid #0C0A53;
}

.contact-form button {
  padding: 10px 20px;
  background-color: #05156C;
  color: white;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
}

.contact-form button:hover {
  background-color: #040f4d;
}

.contact-form textarea {
  height: 80px;
}

#message {
  resize: vertical;
  padding: 5px;
  font-family: 'Poppins', sans-serif;
}

/* Common Styles */
h1, h2 {
  font-family: 'Poppins', sans-serif;
  color: #fff;
}

h1 {
  font-size: 64px;
}

h2 {
  font-size: 48px;
}

.download-button {
  background-color: #0080ff;
  color: white;
  padding: 10px 35px;
  border-radius: 35px;
  border: none;
  font-size: 32px;
  text-decoration: none;
  transition: background-color 0.3s, border-color 0.3s;
  cursor: pointer;
}

.next-product {
  padding: 10px 15px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.container-next {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  z-index: 3;
}

#next-button-product {
  font-size: 45px;
}

.fullscreen {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 70px;
  height: 100vh;
  box-sizing: border-box;
}

.scroll-indicator {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  cursor: pointer;
  background: none;
  animation: anime 0.8s infinite ease-in-out alternate;
  animation-delay: 0.1s;
  z-index: 5;
}

@keyframes anime {
  0% {
    transform: translateX(-50%) translateY(0);
  }
  100% {
    transform: translateX(-50%) translateY(5px);
    box-shadow: 0 25px 10px -20px rgba(0, 0, 0, 0.25);
  }
}

.material-symbols-outlined {
  color: #fff;
  font-size: 36px;
  display: block;
  filter: drop-shadow(4px 4px 6px rgba(0, 0, 0, 0.9));
}

/* Hide indicator when no more sections */
.scroll-indicator.hidden {
  display: none;
}

.scroll-indicator .get-started {
  display: block;
  color: #fff;
  font-size: 16px;
  margin-bottom: 5px;
  text-decoration: none;
  text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.9);
}

.scroll-indicator.only-icon .get-started {
  display: none;
}

.small-logo {
  width: 80px;
}

header.not-home {
  justify-content: space-between;
  width: 98%;
  padding-right: 100px;
}

header.not-home #logo-container {
  justify-content: flex-start;
}

header.not-home nav {
  justify-content: flex-end;
}

header.not-home nav ul {
  display: flex;
  align-items: center;
}

.secondary-navbar, .secondary-navbar-2 {
  width: auto;
  display: flex;
  justify-content: flex-start;
  padding: 80px 0 10px 0;
}

.nav-link, .nav-link-2 {
  color: white;
  padding: 8px 15px;
  text-decoration: none;
  transition: background-color 0.3s, border-color 0.3s;
  background-color: rgba(217, 217, 217, 0.1);
  border: 2px solid rgba(255, 255, 255, 0.75);
  border-radius: 15px;
  margin-right: 10px;
}

.nav-link:hover, .nav-link:focus, .nav-link-2:hover, .nav-link-2:focus {
  background-color: rgba(255, 255, 255, 0.3);
  border-color: rgba(255, 255, 255, 1);
}

.nav-link.active, .nav-link-2.active {
  background-color: rgba(255, 255, 255, 0.8);
  color: #fff;
  border-color: rgba(255, 255, 255, 0.9);
}

/* Product Containers */
.products-container {
  width: 100%;
  height: 100vh;
  display: none;
  position: absolute;
  top: 0;
  left: 100%;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: left 0.5s ease, opacity 0.5s ease;
  z-index: 1;
  visibility: hidden;
  overflow: hidden;
}

.products-container:first-of-type {
  display: block;
}

.products-container.active {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  opacity: 1;
  visibility: visible;
  left: 0;
  z-index: 2;
}

/* Specific product background classes */
.product1-bg {
  background: url("../images/background-terrabox.png") no-repeat center center fixed;
  background-size: cover;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.product2-bg {
  background: url("../images/background-ralaxy.png") no-repeat center center fixed;
  background-size: cover;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.products-container.exit-left {
  left: -100%;
  opacity: 0;
  z-index: 1;
}

.products-container.enter-right {
  left: 100%;
  opacity: 1;
  z-index: 2;
}

.products-container.exit-right {
  left: 100%;
}

.products-container.enter-left {
  left: -100%;
}

.products-container.transitioning {
  display: block;
}

.content-section {
  overflow-wrap: break-word;
  width: 100%;
  max-width: 600px;

  text-align: left; /* Justifica el texto para una mejor presentación */
  font-family: Poppins;
  color: #fff;

  transition: opacity 0.5s ease-in-out;
  opacity: 0; /* Agrega opacidad inicial */
  visibility: hidden;
}

.content-section.active {
  opacity: 1;
  visibility: visible;
}

#product-content {
  max-width: 600px; /* Ajusta esto al ancho del nav secundario */
  width: 100%; /* Esto asegura que el contenido no sea más ancho que el contenedor */
  margin: 0; /* Mantiene el margen a cero para alineación */
  padding-bottom: 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Alinea el contenido a la izquierda */
  overflow-y: hidden; /* Permite el desplazamiento vertical si el contenido es demasiado largo */
  text-align: left;
  word-wrap: break-word;
  height: 300px;
  max-height: 350px;
  overflow-x: hidden;
}

.no-scroll {
  overflow: hidden;
}

body.home-bg {
  background: url("../images/hero-image.jpg") no-repeat center center fixed;
  background-size: cover;
}

body.about-us-bg {
  background: url("../images/about.jpg") no-repeat center center fixed;
  background-size: cover;
}

body.products-bg {
  background: url("../images/background-terrabox.png") no-repeat center center fixed;
  background-size: cover;
}

.center-logo {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  transition: top 0.5s ease, transform 0.5s ease, opacity 0.5s ease;
}

.center-logo-home {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  transition: top 0.5s ease, transform 0.5s ease, opacity 0.5s ease;
}

.animate-logo {
  top: 50px;
  transform: translate(-50%, -50%) scale(0.5);
}

.hidden {
  display: none;
}

.fade-left {
  transform: translate(-50%, -50%) translateX(-800px) scale(0.5);
  opacity: 0;
}

@keyframes flyToHeader {
  0% {
    position: fixed;
    transform: translateX(0) translateY(0) scale(1);
    opacity: 1;
  }
  100% {
    position: fixed;
    transform: translateX(calc(-50vw + 50px)) translateY(calc(-50vh + 30px)) scale(0.5);
    opacity: 0;
  }
}

.logo-fly {
  animation: flyToHeader 1s forwards;
}

.container-info-about {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  padding-top: 20px;
  height: 100%;
}

.container-about {
  display: grid;
  grid-template-columns: 2fr 1fr;
  width: 100%;
  height: 50%;
}

.container-about-2 {
  display: grid;
  grid-template-columns: 1fr 2fr;
  width: 100%;
  height: 50%;
}

#about-us-text, #mission {
  background-color: white;
  padding: 20px;
  overflow: hidden;
  max-width: 100%;
}

#about-us-text h1, #about-us-text p, #mission h1, #mission p {
  color: black;
  font-family: 'Poppins', sans-serif;
}

.container-about img, .container-about-2 img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

#mission {
  background-color: black;
  padding: 20px;
  overflow: hidden;
  max-width: 100%;
}

#mission h1, #mission p {
  color: white;
}
