* {
  margin: 0;
  padding: 0;
}

body,
html {
  height: 100%;
  scroll-snap-type: y mandatory;
  overflow-y: auto; /* Cambiado a auto para permitir el comportamiento de desplazamiento nativo */
  font-family: Poppins, sans-serif;
}

section {
  height: 100vh; /* Ajustado para ocupar toda la pantalla */
  scroll-snap-align: start; /* Alineado al inicio de cada sección */;
  overflow-y: hidden;
}

#logo-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

header {
  display: flex;
  justify-content: center; /* Centra el contenido por defecto */
  align-items: space-between; /* Alinea los elementos verticalmente en el centro */
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px 20px;
  z-index: 1000;
  height: 60px;
}

nav {
  display: flex;
  justify-content: flex-end; /* Asegura que el menú esté a la derecha */
  width: auto; /* Ocupa solo el espacio necesario */
}

nav ul {
  display: flex; /* Importante para asegurar que flexbox controle los li */
  justify-content: flex-end; /* Centra los elementos del menú */
  align-items: center; /* Alineación vertical */
  width: 100%; /* Asegura que ul ocupe todo el ancho de nav */
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  padding: 0 40px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  position: relative;
  padding: 10px;
}

nav a::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  right: 0;
  height: 2px;
  background: #fff;
  opacity: 0;
  transition: opacity 0.3s ease;
}

nav a:hover::after,
nav a.active::after {
  opacity: 1;
}

.fullscreen {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 70px;
  height: 100vh;
  box-sizing: border-box;
  background-color: aqua;
}

#home {
  background: url("../images/hero-image.jpg") no-repeat center center fixed;
  background-size: cover;
}

#about-us {
  background: url("../images/t-5.png") no-repeat top center fixed;
  background-size: cover;
}

#products {
  display: flex;
  flex-direction: row;
  align-items: flex-start; /* Mantiene los hijos alineados a la derecha */
  justify-content: flex-end; /* Alinea los hijos hacia la parte superior */
  width: 100%;
  background-color: black;
  overflow: hidden;
  position: relative;
}

#contact{
  background-image: linear-gradient(#0C0A53 0%, #2D5BB9 40%, #3873BF 54%, #4A95C7 72%, #58B2BA 100%);
}

.product-image-container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: flex-end; /* Centra la imagen verticalmente */
  justify-content: flex-end; /* Centra la imagen horizontalmente */
}

.product-image-container img {
  max-width: 100%;
  height: auto;
}

.container-next {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  z-index: 3;
}

.product-info-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Alinea el contenido internamente a la izquierda */
  width: 70%;
  padding-left: 80px; /* Espacio a la derecha si es necesario */
  padding-top: 80px;
}

h1 {
  font-size: 64px;
  font-family: "Poppins", sans-serif;
  color: #fff;
}
h2 {
  font-size: 48px;
  font-family: "Poppins", sans-serif;
  color: #fff;
}

#download-button {
  background-color: #0080ff;
  color: white;
  padding: 10px 35px;
  border-radius: 35px;
  border-style: none;
  font-size: 32px;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  transition: background-color 0.3s, border-color 0.3s; /* Transición suave del fondo y del borde */
}

.next-product {
  padding: 10px 15px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

#product-content {
  max-width: 600px; /* Ajusta esto al ancho del nav secundario */
  width: 100%; /* Esto asegura que el contenido no sea más ancho que el contenedor */
  margin: 0; /* Mantiene el margen a cero para alineación */
  padding-bottom: 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Alinea el contenido a la izquierda */
  overflow-y: hidden; /* Permite el desplazamiento vertical si el contenido es demasiado largo */
  text-align: left;
  word-wrap: break-word;
  height: 300px;
  max-height: 350px;
  overflow-x: hidden;
}

.scroll-indicator {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  cursor: pointer;
  background: none;

  animation: anime 0.8s infinite ease-in-out alternate;
  animation-delay: 0.1s;
}

@keyframes anime {
  0% {
    transform: translateX(-50%) translateY(0); /* Estado inicial con centrado horizontal */
  }
  100% {
    transform: translateX(-50%) translateY(5px); /* Mueve el botón verticalmente manteniendo el centrado horizontal */
    box-shadow: 0 25px 10px -20px rgba(0, 0, 0, 0.25);
  }
}

.material-symbols-outlined {
  color: #fff;
  font-size: 36px;
  display: block;
  filter: drop-shadow(4px 4px 6px rgba(0, 0, 0, 0.9));
}

/* Ocultar botón cuando no hay más secciones disponibles */
.scroll-indicator.hidden {
  display: none;
}

.scroll-indicator .get-started {
  display: block; /* Hace que la frase 'Get started' se muestre en línea */
  color: #fff; /* Blanco para contraste */
  font-size: 16px; /* Tamaño del texto */
  font-family: Poppins; /* Fuente de texto */
  margin-bottom: 5px; /* Espacio entre el texto y el icono */
  text-decoration: none; /* Elimina cualquier subrayado por defecto */
  text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.9);
}

.scroll-indicator.only-icon .get-started {
  display: none; /* Oculta la frase 'Get Started' cuando solo hay un icono */
}

.small-logo {
  width: 80px; /* Cambia esto según el tamaño deseado para el logo en el header */
}

header.not-home {
  justify-content: space-between; /* Espaciado entre logo y menú */
  width: 98%;
  padding-right: 100px;
}

header.not-home #logo-container {
  justify-content: flex-start; /* Alinea el logo a la izquierda */
}

header.not-home nav {
  justify-content: flex-end; /* Alinea el menú a la derecha */
}

header.not-home nav ul {
  display: flex;
  align-items: center; /* Centra los elementos del menú verticalmente */
}

.secondary-navbar {
  width: auto;
  display: flex;
  justify-content: flex-start; /* Cambio para alinear los enlaces a la izquierda */
  padding: 80px 0 10px 0; /* Mantener el padding pero asegurarse de que inicia al mismo nivel */
}

.secondary-navbar-2 {
  width: auto;
  display: flex;
  justify-content: flex-start; /* Cambio para alinear los enlaces a la izquierda */
  padding: 80px 0 10px 0; /* Mantener el padding pero asegurarse de que inicia al mismo nivel */
}

.nav-link {
  color: white;
  font-family: Poppins;
  padding: 8px 15px;
  text-decoration: none;
  transition: background-color 0.3s, border-color 0.3s; /* Transición suave del fondo y del borde */
  background-color: rgba(
    217,
    217,
    217,
    0.1
  ); /* Color de fondo con transparencia */
  border: 2px solid rgba(255, 255, 255, 0.75); /* Contorno blanco con ligera transparencia */
  border-radius: 15px;
  margin-right: 10px;
}

.nav-link:hover,
.nav-link:focus {
  background-color: rgba(
    255,
    255,
    255,
    0.3
  ); /* Color de fondo con transparencia */
  border-color: rgba(
    255,
    255,
    255,
    1
  ); /* Hace el borde completamente blanco y opaco */
}

.nav-link.active {
  background-color: rgba(
    255,
    255,
    255,
    0.8
  ); /* Fondo más oscuro para el ítem activo */
  color: #fff; /* Mantiene el texto blanco */
  border-color: rgba(
    255,
    255,
    255,
    0.9
  ); /* Ajusta el borde para el ítem activo */
}
.nav-link-2 {
  color: white;
  font-family: Poppins;
  padding: 8px 15px;
  text-decoration: none;
  transition: background-color 0.3s, border-color 0.3s; /* Transición suave del fondo y del borde */
  background-color: rgba(
    217,
    217,
    217,
    0.1
  ); /* Color de fondo con transparencia */
  border: 2px solid rgba(255, 255, 255, 0.75); /* Contorno blanco con ligera transparencia */
  border-radius: 15px;
  margin-right: 10px;
}

.nav-link-2:hover,
.nav-link-2:focus {
  background-color: rgba(
    255,
    255,
    255,
    0.3
  ); /* Color de fondo con transparencia */
  border-color: rgba(
    255,
    255,
    255,
    1
  ); /* Hace el borde completamente blanco y opaco */
}

.nav-link-2.active {
  background-color: rgba(
    255,
    255,
    255,
    0.8
  ); /* Fondo más oscuro para el ítem activo */
  color: #fff; /* Mantiene el texto blanco */
  border-color: rgba(
    255,
    255,
    255,
    0.9
  ); /* Ajusta el borde para el ítem activo */
}

#proposal-list {
  display: block;
  font-family: Poppins;
  color: #fff;
}

.content-section {
  overflow-wrap: break-word;
  width: 100%;
  max-width: 600px;

  text-align: left; /* Justifica el texto para una mejor presentación */
  font-family: Poppins;
  color: #fff;

  transition: opacity 0.5s ease-in-out;
  opacity: 0; /* Agrega opacidad inicial */
  visibility: hidden;
}

.content-section.active {
  opacity: 1;
  visibility: visible;
}

#proposal-list {
  list-style: none; /* Quita los puntos de la lista */
  padding: 0; /* Quita el padding por defecto de la lista */
  margin: 0; /* Quita el margen por defecto de la lista */
}

#proposal-list > li {
  margin-bottom: 10px; /* Ajusta el espacio entre cada elemento de la lista */
}

#proposal-list > li > ul {
  padding-left: 20px; /* Indenta los elementos de la lista secundaria */
}

.products-container {
  width: 100%;
  height: 100vh; /* Ajusta la altura a la de la ventana */
  display: none; /* Oculta todos los contenedores inicialmente */
  position: absolute; /* Asegura que ocupe toda la pantalla */
  top: 0;
  left: 100%;
  right: 0;
  bottom: 0;
  opacity: 0; /* Inicia con opacidad 0 para animarlo */
  transition: left 0.5s ease, opacity 0.5s ease;
  z-index: 1; /* Asegura que el contenedor esté detrás del contenedor activo */
  visibility: hidden;
  overflow: hidden;
}

.products-container:first-of-type {
  display: block; /* Muestra solo el primer contenedor */
}

.products-container.active {
  display: flex;
  flex-direction: row;
  align-items: center; /* Centra verticalmente el contenido */
  justify-content: center; /* Centra horizontalmente el contenido */
  opacity: 1; /* Completa opacidad para el contenedor activo */
  visibility: visible;
  left: 0;
  z-index: 2;
}

/* Specific product background classes */
.product1-bg {
  background: url("../images/background-terrabox.png") no-repeat center center fixed;
  background-size: cover;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.product2-bg {
  background: url("../images/background-ralaxy.png") no-repeat center center fixed;
  background-size: cover;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.products-container.exit-left {
  left: -100%; /* Mueve el contenedor saliente hacia la izquierda */
  opacity: 0; /* Reduce la opacidad durante la salida */
  z-index: 1; /* Asegura que el contenedor saliente esté detrás del entrante */
}

.products-container.enter-right {
  left: 100%; /* Posiciona el nuevo contenedor a la derecha para la entrada */
  opacity: 1; /* Incrementa la opacidad durante la entrada */
  z-index: 2; /* Asegura que el contenedor entrante esté frente a los demás */
}

.products-container.exit-right {
  left: 100%; /* Mueve el contenedor saliente hacia la derecha */
}

.products-container.enter-left {
  left: -100%; /* Posiciona el nuevo contenedor a la izquierda para la entrada */
}

.products-container.transitioning {
  display: block; /* Asegura que los contenedores en transición sean visibles */
}

.no-scroll {
  overflow: hidden;
}

body.home-bg {
  background: url("../images/hero-image.jpg") no-repeat center center fixed;
  background-size: cover;
}

body.about-us-bg {
  background: url("../images/about.jpg") no-repeat center center fixed;
  background-size: cover;
}

body.products-bg {
  background: url("../images/background-terrabox.png") no-repeat center center fixed; /* Puedes cambiar este a otro fondo específico si lo necesitas */
  background-size: cover;
}

.center-logo {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  transition: top 0.5s ease, transform 0.5s ease, opacity 0.5s ease;
}

.center-logo-home {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  transition: top 0.5s ease, transform 0.5s ease, opacity 0.5s ease;
}

.animate-logo {
  top: 50px;
  transform: translate(-50%, -50%) scale(0.5);
}

.hidden {
  display: none;
}

.fade-left {
  transform: translate(-50%, -50%) translateX(-800px) scale(0.5);
  opacity: 0;
}


@keyframes flyToHeader {
    0% {
        position: fixed;
        transform: translateX(0) translateY(0) scale(1);
        opacity: 1;
    }
    100% {
        position: fixed;
        transform: translateX(calc(-50vw + 50px)) translateY(calc(-50vh + 30px)) scale(0.5);
        opacity: 0;
    }
}

.logo-fly {
    animation: flyToHeader 1s forwards; /* forwards asegura que se mantenga el estado final de la animación */
}





.container {
  display: grid;
  grid-template-columns: 2fr 3fr;
  margin: 20px;
  height: 85%;
  width: 90%;
}

.contact-info {
  background-color: #05156C;
  border-radius: 35px 0px 0 35px;
  border-right: none;
  color: white;
  padding: 3rem;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto;
  gap: 10px;
  align-items: start;
  justify-content: start;
}

.contact-info div {
  align-items: start;
  justify-content: start;
  text-align: left;
}

.contact-info h2,
.contact-info p {
  grid-column: span 2;
  justify-self: start;
  text-align: left;
}

.contact-info p {
  margin-bottom: 10px;
}

.contact-form {
  background-color: #fff;
  padding: 3rem;
  box-sizing: border-box;
  border-radius: 0 35px 35px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 50px;
}

.contact-form h2{
  color: #05156C;
}

.contact-form input, .contact-form textarea {
  color: rgba(0, 0, 0, 0.8);
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 16px;
  height: 36px;
  font-family: Poppins;
  outline: none;
}

.contact-form input, .contact-form textarea, .contact-form button, .contact-form h2 {
  grid-column: span 2;
}

#email, #full-name{
  grid-column: span 1;
}

.contact-form input:focus, .contact-form textarea:focus {
  border-bottom: 1px solid #0C0A53; /* Cambiar el color del borde inferior al hacer clic */
}

.contact-form button {
  padding: 10px 20px;
  background-color: #05156C;
  color: white;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  font-family: Poppins;
  font-size: 16px;
}
.contact-form button:hover {
  background-color: #040f4d;
}
.contact-form textarea {
  height: 80px; /* Ajustar la altura del textarea */
}

#message {
  resize: vertical;
  padding: 5px;
  font-family: Poppins;
}



#next-button-product {
  font-size: 45px; /* Ajusta el tamaño del icono en píxeles */
}