/* styles.css */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    
    padding: 20px 0;
    z-index: 1000; /* Asegura que el header está sobre otros elementos */
}

nav ul {
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    padding: 0 40px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-family: 'Poppins', sans-serif; /* Corregido para asegurar la carga de la fuente */
    position: relative; /* Para los pseudo-elementos */
    padding: 10px; /* Agregado padding para mejorar la interacción */
}

nav a::after {
    content: '';
    position: absolute;
    bottom: -2px; /* Coloca la línea justo debajo del enlace */
    left: 0;
    right: 0;
    height: 2px;
    background: #fff; /* Color blanco para la línea */
    opacity: 0;
    transition: opacity 0.3s ease; /* Suavizado en la transición */
}

nav a:hover::after, nav a.active::after {
    opacity: 1; /* Hace la línea visible */
}

.about-us {
    background: url('hero-image.jpg') no-repeat center center/cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero {
    background: url('hero-image.jpg') no-repeat center center/cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo img {
    max-width: 200px;
}

.scroll-indicator {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%); /* Centra el botón horizontalmente */
    text-align: center;
    cursor: pointer; /* Indica que es un elemento interactivo */
    background: none; /* Sin fondo */
    
    animation: anime .8s infinite ease-in-out alternate;
    animation-delay: .1s;
}
@keyframes anime {
    0% {
        transform: translateX(-50%) translateY(0); /* Estado inicial con centrado horizontal */
    }
    100% {
        transform: translateX(-50%) translateY(5px); /* Mueve el botón verticalmente manteniendo el centrado horizontal */
        box-shadow: 0 25px 10px -20px rgba(0, 0, 0, 0.25);
    }
}
.get-started {
    display: block; /* Hace que 'Get started' se muestre en su propia línea */
    color: #fff; /* Blanco para contraste */
    font-size: 16px; /* Tamaño del texto */
    font-family: Poppins; /* Fuente de texto */
    margin-bottom: 5px; /* Espacio entre el texto y el icono */
    text-decoration: none; /* Elimina cualquier subrayado por defecto */
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.9)
}


.material-symbols-outlined {
    color: #fff; /* Blanco para contraste */
    font-size: 36px; /* Tamaño del icono */
    display: block; /* Asegura que el icono se alinee correctamente bajo el texto */
    filter: drop-shadow(4px 4px 6px rgba(0, 0, 0, 0.9)); /* Sombra para el icono */
}

/* Estilos adicionales para cuando el botón no debe incluir 'Get started' */
.scroll-indicator.only-icon .get-started {
    display: none; /* Oculta el texto 'Get started' */
}



section {
    height: 100vh;
    margin: 0;
    overflow: hidden;
}