* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    scroll-snap-type: y mandatory;
    overflow-y: auto; /* Cambiado a auto para permitir el comportamiento de desplazamiento nativo */
}

section {
    height: 100vh; /* Ajustado para ocupar toda la pantalla */
    scroll-snap-align: start; /* Alineado al inicio de cada sección */
}

#logo-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

header {
    display: flex;
    justify-content: center; /* Centra el contenido por defecto */
    align-items: space-between; /* Alinea los elementos verticalmente en el centro */
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px 20px;
    z-index: 1000;
}

nav {
    display: flex;
    justify-content: flex-end; /* Asegura que el menú esté a la derecha */
    width: auto; /* Ocupa solo el espacio necesario */
}

nav ul {
    display: flex;  /* Importante para asegurar que flexbox controle los li */
    justify-content: flex-end; /* Centra los elementos del menú */
    align-items: center; /* Alineación vertical */
    width: 100%; /* Asegura que ul ocupe todo el ancho de nav */
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    padding: 0 40px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    position: relative;
    padding: 10px;
}

nav a::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    right: 0;
    height: 2px;
    background: #fff;
    opacity: 0;
    transition: opacity 0.3s ease;
}

nav a:hover::after, nav a.active::after {
    opacity: 1;
}

.fullscreen {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#home {
    background: url('hero-image.jpg') no-repeat center center fixed;
    background-size: cover;
}

#about-us {
    background: url('about.jpg') no-repeat center center fixed;
    background-size: cover;
}

#products {
    background: url('terrabox.png') no-repeat center center fixed;
    background-size: cover;
}

.scroll-indicator {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    cursor: pointer;
    background: none;

    animation: anime .8s infinite ease-in-out alternate;
    animation-delay: .1s;
}

@keyframes anime {
    0% {
        transform: translateX(-50%) translateY(0); /* Estado inicial con centrado horizontal */
    }
    100% {
        transform: translateX(-50%) translateY(5px); /* Mueve el botón verticalmente manteniendo el centrado horizontal */
        box-shadow: 0 25px 10px -20px rgba(0, 0, 0, 0.25);
    }
}

.material-symbols-outlined {
    color: #fff;
    font-size: 36px;
    display: block;
    filter: drop-shadow(4px 4px 6px rgba(0, 0, 0, 0.9));
}

/* Ocultar botón cuando no hay más secciones disponibles */
.scroll-indicator.hidden {
    display: none;
}


.scroll-indicator .get-started {
    display: block; /* Hace que la frase 'Get started' se muestre en línea */
    color: #fff; /* Blanco para contraste */
    font-size: 16px; /* Tamaño del texto */
    font-family: Poppins; /* Fuente de texto */
    margin-bottom: 5px; /* Espacio entre el texto y el icono */
    text-decoration: none; /* Elimina cualquier subrayado por defecto */
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.9);
}

.scroll-indicator.only-icon .get-started {
    display: none; /* Oculta la frase 'Get Started' cuando solo hay un icono */
}

.small-logo {
    width: 80px; /* Cambia esto según el tamaño deseado para el logo en el header */
}


header.not-home {
    justify-content: space-between; /* Espaciado entre logo y menú */
}

header.not-home #logo-container {
    justify-content: flex-start; /* Alinea el logo a la izquierda */
}

header.not-home nav {
    justify-content: flex-end; /* Alinea el menú a la derecha */
}

header.not-home nav ul {
    display: flex;
    align-items: center; /* Centra los elementos del menú verticalmente */
}


@keyframes flyToHeader {
    0% {
        position: fixed;
        transform: translateX(0) translateY(0) scale(1);
        opacity: 1;
    }
    100% {
        position: fixed;
        transform: translateX(calc(-50vw + 50px)) translateY(calc(-50vh + 30px)) scale(0.5);
        opacity: 0;
    }
}

.logo-fly {
    animation: flyToHeader 1s forwards; /* forwards asegura que se mantenga el estado final de la animación */
}